{% extends 'blog/base.html' %}
    {% block content %}
        {% for post in posts %}
    		<div class="post">
    			<br>
    			<div class="date">
        			<p>published: {{ post.published_date }}</p>
        		</div>
        		<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        		<p>{{ post.text|linebreaksbr }}</p>
    		</div>
		{% endfor %}
		<div>
            <br>
            <div class="date">
            	<p>published: 15.12.2018, 19:40</p>
            </div>
             	<h2><a href="">My second post</a></h2>
            	<p>Alfa, Bravo, Charlie, Delta, Echo, Foxtrot, Golf, Hotel, India, Juliett, Kilo, Lima, Mike, November, Oscar, Papa, Quebec, Romeo, Sierra, Tango, Uniform, Victor, Whiskey, X-ray, Yankee, Zulu.</p>
        </div>
    {% endblock %}		
