<html>
	<head>
        <title>Divyanshu's test blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Divyanshu's Blog</a></h1>
        </div>

        <div>
            <p>published: 15.02.2018, 19:30</p>
            <h2><a href="">My first post</a></h2>
            <p>Alfa, Bravo, Charlie, Delta, Echo, Foxtrot, Golf, Hotel, India, Juliett, Kilo, Lima, Mike, November, Oscar, Papa, Quebec, Romeo, Sierra, Tango, Uniform, Victor, Whiskey, X-ray, Yankee, Zulu.</p>
        </div>

        <div>
            <p>published: 15.12.2018, 19:40</p>
            <h2><a href="">My second post</a></h2>
            <p>A, B, C, D, E ,F ,G, H, I, J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z.</p>
        </div>
    </body>
</html>